{{ define "main" }}
<main>
	<article>
		<div class="title">
			<h1 class="title">{{ .Title }}</h1>
			<div class="meta">Posted on {{ dateFormat "Jan 2, 2006" .Date }}{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}</div>
			{{ partial "breadcrumbs.html" . }}
		</div>
		
		{{- if .Params.toc }}
				<h1>Table Of Contents</h1>
				{{ .TableOfContents }}
		{{end}}
		

		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		<div class="post-tags">
			{{ if ne .Type "page" }}
			{{ if gt .Params.tags 0 }}
			<nav class="nav tags">
				<ul class="tags">
					<b><i>Tags:</i></b>
					{{ range .Params.tags }}
					<li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</nav>
			{{ end }}
			{{ end }}
		</div>
	</article>
	
	{{- if .Params.comment }}
	<div class="comment">
		<h1>Share your thoughts</h1>
		<script type="text/javascript" src="https://latest.cactus.chat/cactus.js"></script>
		<link rel="stylesheet" href="https://latest.cactus.chat/style.css" type="text/css">
		<div id="comment-section"></div>
		<script>
		initComments({
		node: document.getElementById("comment-section"),
		defaultHomeserverUrl: "https://matrix.cactus.chat:8448",
		serverName: "cactus.chat",
		siteName: "<anugerah-garden>",
		commentSectionId: "{{ index .Params 0 }}"
		})
</script>

	</div>
	{{end}}
	{{ partial "share-buttons.html" . }}

</main>
{{ end }}
