body {
  color: #ddd;
  background-color: #151515;
}

h2::before { color: white; content: '⌗⌗ '; }
h3::before { color: white; content: '⌗⌗⌗ '; }
h4::before { color: white; content: '⌗⌗⌗⌗ '; }
h5::before { color: white; content: '⌗⌗⌗⌗⌗ '; }
h6::before { color: white; content: '⌗⌗⌗⌗⌗⌗ '; } 

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: white;
  color: black;
  text-shadow: none;
}

hr {
  border-top: 3px dotted white;
}
code {
  background-color: lightblue;
  color: white;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  background-color: #272822;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}
blockquote {
  border-color: white;
  color: white;
}


a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.buy{
  background-color: yellow;
  color: black;
}

time{
  color: white;
}
.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: white;
}

img {

  border: 3px solid white;
  max-width: 100%;
}

.tags a {
  border-bottom: 3px solid var(--darkMaincolor);
}
.tags a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

.highlight {
  background-color: #333;
}
.soc:hover {
  color: black;
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
  content: "js";
  background: #f7df1e;
  color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
  content: 'yaml';
  background: #f71e6a;
  color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
  content: 'shell';
  background: white;
  color:white
}
.highlight pre code[class*='language-json']::before{
  content: 'json';
  background: dodgerblue;
   color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
  content: 'py';
  background: blue;
  color: yellow ;
}
.highlight pre code[class*='language-css']::before{
  content: 'css';
  background: cyan;
  color: black ;
}
.highlight pre code[class*='language-go']::before{
  content: 'Go';
  background: cyan;
  color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
  content: 'Markdown';
  background: royalblue;
  color: whitesmoke ;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px 13px;
  background-color: white;
  color: black;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}