{{ $pageurl := .Permalink }}
<style>

</style>

<div>
    <b>Share this post: </b> 
    <a href="http://www.facebook.com/share.php?u={{ $pageurl }}" target="_blank">Facebook</a>
    <a href="https://api.whatsapp.com/send?text=Check out {{.Title}}, at {{ $pageurl }}" target="_blank">Whatsapp</a>
    <a href="http://twitter.com/intent/tweet?text={{.Title}}&url={{ $pageurl }}" target="_blank">Twitter</a>
    <a href="mailto:?&body={{.Title}} {{ $pageurl }}&subject=Check out this new page on Anugerah's Digital Garden!" target="_blank">Email</a>
    <script>var pfHeaderImgUrl = '';var pfHeaderTagline = '';var pfdisableClickToDel = 0;var pfHideImages = 0;var pfImageDisplayStyle = 'block';var pfDisablePDF = 0;var pfDisableEmail = 0;var pfDisablePrint = 0;var pfCustomCSS = '';var pfEncodeImages = 0;var pfShowHiddenContent = 0;var pfBtVersion='2';(function(){var js,pf;pf=document.createElement('script');pf.type='text/javascript';pf.src='//cdn.printfriendly.com/printfriendly.js';document.getElementsByTagName('head')[0].appendChild(pf)})();</script><a href="https://www.printfriendly.com" style="color:#6D9F00;text-decoration:none;" class="printfriendly" onclick="window.print();return false;" title="Printer Friendly and PDF"><img style="border:none;-webkit-box-shadow:none;box-shadow:none;" src="//cdn.printfriendly.com/buttons/print-button-gray.png" alt="Print Friendly and PDF"/></a>
</div>