{{ $pageurl := .Permalink }}
<style>

</style>

<div>
    <b>Share this post: </b> 
    <a href="http://www.facebook.com/share.php?u={{ $pageurl }}" target="_blank">Facebook</a>
    <a href="https://web.whatsapp.com/send?text={{ $pageurl }}&title=&summary=&source='" target="_blank">Whatsapp</a>
    <a href="http://twitter.com/intent/tweet?text={{.Title}}&url={{ $pageurl }}" target="_blank">Twitter</a>
    <a href="mailto:?&body={{.Title}} {{ $pageurl }}&subject=Check out this new page on Anugerah's Digital Garden!" target="_blank">Email</a>

</div>